div {
    display: block;
}

.tagging-wrapper {
    background-image: url("./image.jpg");
    background-position: center;
    width: 512px;
    height: 512px;
    border: 2px solid black;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    margin: 0 auto;

}
.tagging-wrapper .tagging-element {
    position: absolute;
    border-radius: 5px;
    background-color: green;
    opacity: .9;
    border: 1px solid #000;
    cursor: pointer;
}

.tagging-wrapper .tagging-title {
    padding: 10px;
    display: inline-block;
}

.tagging-wrapper .tagging-element .delete {
    visibility: hidden;
}


.tagging-wrapper .tagging-element.grab-mode .delete {
    visibility: visible;
    padding: 10px;
    padding-left: 0;

}
